.source.haskell {
    .meta.preprocessor {
        color: @syntax-color-annotation;
    }

    .variable.other.generic-type {
        color: @syntax-color-generic;
    }

    .keyword.operator.function.infix {
        color: @syntax-color-function-call;
    }
}
