.syntax--source.syntax--json {
    .syntax--meta.syntax--structure.syntax--dictionary {
        & > .syntax--string.syntax--quoted {
            & > .syntax--punctuation.syntax--string {
                color: @light-red;
            }
            color: @light-red;
        }
    }

    .syntax--punctuation.syntax--separator {
        &.syntax--array,
        &.syntax--pair {
            color      : @syntax-color-keyword;
            font-weight: bold;
        }
    }

    .syntax--meta.syntax--structure.syntax--array,
    .syntax--meta.syntax--structure.syntax--dictionary {
        & > .syntax--value > .syntax--string.syntax--quoted,
        & > .syntax--value > .syntax--string.syntax--quoted > .syntax--punctuation {
            color: @syntax-color-string;
        }
    }
}
