.syntax--source.syntax--python {
    .syntax--support.syntax--magic {
        &.syntax--function,
        &.syntax--variable {
            color      : @light-red;
            font-weight: normal;
        }
    }

    .syntax--entity.syntax--function.syntax--decorator {
        color      : @syntax-color-annotation;
        font-weight: normal;
    }

    .syntax--meta {
        &.syntax--decorator,
        &.syntax--function-call,
        &.syntax--method-call {
            .syntax--arguments .syntax--variable.syntax--parameter {
                color: @light-red;
            }
        }
    }

    .syntax--string > .syntax--storage.syntax--type.syntax--string {
        color      : @syntax-color-string;
        font-weight: normal;
    }
}
