.syntax--source.syntax--ruby {
    .syntax--constant.syntax--other.syntax--symbol > .syntax--punctuation {
        color     : inherit;
        font-style: normal;
    }

    .syntax--variable .syntax--punctuation {
        color: inherit;
    }

    .syntax--entity.syntax--inherited-class .syntax--punctuation.syntax--separator.syntax--inheritance {
        font-weight: normal;
    }

    .syntax--support.syntax--function.syntax--kernel {
        color: @syntax-color-builtin-function;
    }

    .syntax--keyword.syntax--operator.syntax--logical {
        color      : @syntax-color-keyword;
        font-weight: bold;
    }
}
